<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Today's Weather</title>
</head>

<body>

    {{> header}}


    <h2>Your IP</h2>
    <p>{{ip}}</p>

    <h2>Your City</h2>
    <p>{{city}}</p>

    <h2>Your Geo Location</h2>
    <p>{{lat}}</p>
    <p>{{lng}}</p>

    <h2>Weather Summary</h2>
    <p>{{summarycurrent}}</p>
    <p>{{summaryhourly}}</p>
    <p>{{summarydaily}}</p>

    {{> footer}}

</body>


</html>